*{
    margin: 0px;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   
   
}
#main-body{
    margin: 1px;
    padding: 0px;
    box-sizing: border-box;
}


.body-dis{
    width: 100%;
    
    background-color: #e0e0e0;
    margin-top: -1px;
    margin-bottom: -2px;
    /* margin-right: 1%; */
    margin-left: 1px;
    
     }
    



.logo-image{
    height: 60px;
    width: 60px;
    margin-right: -1px;
}

.city-image{
height: 150px;
width: 150px;
display: inline;

padding: 4%;
margin-left:3%;
margin-right: 2%;
border-radius: 25%;
}


.social-media-image{
    height: 20px;
    width: 22px;
    
    /* display: block; */
    float: right;
    /* bottom: 5px; */
    /* padding: 5px; */
}


.radisson-image{
    height: 500px;
    width: 500px;
}


.header-bg{
background-color: rosybrown;
/* margin: -4px; */
position: sticky;
top: 0;
}

.login-div{
    
     position: absolute;
   right: 15px;
   top: 45%;
  /* font-weight: bold; */
  color: black; 
  
}



.search-bar-bg{
  
   height: 380px;
 background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
 background-size: cover;
 background-position: center;
 margin-top: 0px;
 /* margin-right: -8px; */
 margin-left: -1px;
 
}

#search-bar{
    
    background-color:#f1f1f1 ;
    border: 1px solid #f1f1f1;
    position: absolute;
    top: 40%;
    left: 45%;
    border-radius: 12px;
    padding: 10px;
   
}


.footer-div{

    background-color: rosybrown; 
    /* margin-right: -1%; */
    margin-left: 0px;
    margin-bottom: 3px;
    position: sticky;
    bottom: 0;
    padding: 2px;
}
.copyright{
   text-align: center;
}
.contact-div a{
  /* padding: 10px;   */
 color: black;
 /* left: 5px; */
 margin-top: 10px; 
}
.contact-div span{
    padding: 5px;
    top: 10px;
}


#view-div{
    
    position: absolute;
    bottom: -16px;
    left:50%;
    color: black;
}


.loader{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 70px;
    width: 70px;
    border: 12px solid  #f3f3f3;
    border-radius: 50%;
    border-top:12px solid #444444 ;
 
    margin: 0 auto;
    margin-top: 20%;
  

}

