*{
    margin: 0px;
   font-family: 'Ubuntu', sans-serif;
   text-decoration: none;
   
   
}




section{
    height: 1000px;
    background-color: #e0e0e0;
}


#loginform{
    display: none;
    position: absolute;
    /* z-index: 999; */
   background-color: white;
    width: 350px;
    height: 200px;
    text-align: center;
    left: 50%;

}




.body-dis{
  width: 100%;
    background-color: #e0e0e0;
    margin-top: -1px;
    margin-bottom: -2px;
  
    margin-left: 1px;
    
     }
    
    

.logo-image{
    display: flex;
    height: 60px;
    width: 60px;
   
}

.city-image{
height: 150px;
width: 150px;
display: inline;
display: flex;
box-shadow: 10px 10px 10px grey;
background: black;

border-radius: 25%;
margin-bottom: 25px;
margin-top: 25px;

}
.overlay{
   
    position: absolute;
    margin: 90px 50px;
    display: none;
}
/* .overlay:hover{
    display: block;
} */


.city-image:hover{
    color: #f1f1f1;
}




.social-media-image{
    height: 20px;
    width: 22px;
    margin: 0 auto;
   
    float: right;
    
    margin-right: 2px;
    margin-bottom: 5px;
}


.radisson-image{
    height: 500px;
    width: 500px;
}


#navbar{
    display: flex;
    width: 100%;
    height: 60px; 
background-color: rosybrown; 
justify-content: space-between

}

.nav-links{
    float:right ;
}





.search-bar-bg{
  display: flex;
   height: 380px;
 background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
 background-size: cover;
 background-position: center;
 margin-top: 0px;
 
 margin-left: -1px;
 
}

#search-bar{
    
    background-color:#f1f1f1 ;
    border: 1px solid #f1f1f1;
    
    border-radius: 12px;
    padding: 10px;
   outline: none;
   height: 44px;
    width: 300px;
    margin: 0 auto;
    align-self: center;
}

 
.footer-div  {
    width: 100%;
    height: 50px;
    
    align-items: center;
    justify-content: center;
   background-color: rosybrown; 
  
    margin-left: 0px;
    position: absolute;
    
    bottom: 0;
    padding: 2px;
} 



.copyright{
  bottom: 0;
  align-items: center;
  
   align-self: center;
}




.contact-div a{
  
 color: black;
 
 margin-top: 10px; 
}


.contact-div span{
    padding: 5px;
    top: 10px;
}


#view-div{
    

 margin-top: 10px;
    margin-left: 50%;
}



.loader{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    height: 70px;
    width: 70px;
    border: 12px solid  #f3f3f3;
    border-radius: 50%;
    border-top:12px solid #444444 ;
 
    margin: 0 auto;
    margin-top: 20%;
    animation: rotating 1s linear infinite;
}
@keyframes rotating{
    100%{
        transform: rotate(360deg);
    }
}




.city-cart{
    width: 100%;
    display: flex;
   
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
    
   
   
}

.inner-city-cart{

    width: 25%;
}

.inner-city-cart:hover .overlay{
    display: block;
  background-color: #444444;

}




.new-inner-city-cart{
width: 100%;
    display: flex;

    padding: 2%;
}


.new-city-cart{
width: 25%;
display: none;
}








#contact-button{
    margin-left: 8px;
}




#maphover:hover{
    display: block;
}

.footerclass{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: rosybrown; 
    justify-content: space-between;
    align-items: center;
}


#contForm{
    width: 100%;
    height: 200px;
    border: 3px solid yellow;
    display: none;
    background-color: #e0e0e0;

}

#login1{
    background-color: #e0e0e0;
}
