
.main-div{
    width: 100%;
   background-color: #e0e0e0;
   /* margin: -8px 0px -16px -7px; */
}


.radisson-image{
    height: 500px;
    width: 500px;
    margin-top: 2%;
    margin-right: 4%;
    margin-left: 4%;
    margin-bottom: 0%;
}


#form-div{
    /* display: flex; */
    width: 30%;
    height: 601px;
    justify-content: space-between;
/*     
     margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;  */
    margin-top: 0px;
    padding: 1%;
    border: 1px solid black;
    
    
}
#form-div div {
padding: 6%;

}


#hotel-disp{
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
}
h3{
    margin-top: 15px;
   margin-bottom: 3px;
}
p{
    margin-top: 10px;
}

#section-div{
    display: flex;
    width:90%;
    align-items: center;
    justify-self: end;
    
    border: 1px solid black;
margin-top: 15px;
margin-left:3% ;
    column-rule-style: solid;
}

#radisson-image-sec{
    width: 70%;
    border-radius: 1px solid black;
    
}
#button-div{
    padding: 5px;
}