#main-div{
    width: auto;
   background-color: #e0e0e0;
   margin: -8px 0px -16px -2px;

}

/* .detail-rest{
    height: 200px;
    width: 250px;
} */


 .outer-div{
    
   display:inline-block;
    width: 40%;
   
    border: 1px solid black;
    background-color: rgb(132,136,139) ;
    margin: 12px;
   
    /* padding: 5px;
    align-items: baseline; */

} 
.detail-rest{
    
    height: 200px;
    width: 250px;

    /* width: 40%; */
    border: 1px solid blue;
    
}
div.list-div{
  padding-top: 5px;
  text-align: center;
}
div.list-div ul li{
    display: inline;
    padding: 5px;
    margin-top: 5px;

}
span{
color: black;
}

#mapview{
    display: none;
    
}

p{ 
    color: black;
    padding: 4px;
}
h{
    color: black;
    margin-top: 4px;
    padding: 4px;
}
h3{
    color: black;
}

section{
    margin-top: 10px;
}