
#main-div{
    
    width: 100%;
    /* height: 100%;
   display: flex; */
    
   background-color: #e0e0e0;
   margin: -8px 0px -16px -2px;

}

/* .detail-rest{
    height: 200px;
    width: 250px;
} */


 .outer-div{
    display: flex;
   
    width: 40%;
   
    border: 1px solid lightgray;
    /* background-color: rgb(132,136,139) ; */
    background-color: lightgray;
    margin: 12px;
   
    /* padding: 5px;
    align-items: baseline; */

} 
 #outer{
    
    display: flex;
   
    flex-wrap: wrap;
   
   


 }

 .hotel-detail{
     /* display: flex;
     justify-content: center;
     align-items: flex-end; */
     padding: 10px;
    
 }

.detail-rest{
    display: flex;
    height: 200px;
    width: 250px;

    /* width: 40%; */
    border: 0px solid lightgray;
    
}

.list-div{
  padding-top: 5px;
  text-align: center;
  display: flex;
    align-items: center;
     justify-content: space-around;
}


/* div.list-div ul li{
    display: inline;
    padding: 5px;
    margin-top: 5px;
    font-weight: 700;

} */

span{
color: black;
}

#mapview{
    display: none;
    
}



p{ 
    color: black;
    padding: 4px;
    font-weight: 300;
}
h{
    color: black;
    margin-top: 4px;
    padding: 4px;
}
h3{
    color: black;
   font-weight: bold;
}

section{
    margin-top: 68px;
    height: 600px;
}

.inner-footer-div{

justify-content: flex-end;
align-items: center;

}
/* .footer-div.inner-footer-div{
justify-content: end;

} */

.checked{
color: yellow;
}


