
#main-div{
    
    width: 100%;
    
   background-color: #e0e0e0;
   margin: -8px 0px -16px -2px;

}

 .outer-div{
    display: flex;
   
    width: 40%;
   
    border: 1px solid lightgray;
    /* background-color: rgb(132,136,139) ; */
    background-color: lightgray;
    margin: 12px;


} 
.outer-div:hover{
    background-color: rosybrown;
}


 #outer{
    
    display: flex;
   
    flex-wrap: wrap;
   
   }

 .hotel-detail{
     
     padding: 10px;
    
 }

.detail-rest{
    display: flex;
    height: 200px;
    width: 250px;

    border: 0px solid lightgray;
    
}

.list-div{
  padding-top: 5px;
  text-align: center;
  display: flex;
    align-items: center;
     justify-content: space-around;
}




span{
color: black;
}

#mapview{
    display: none;
    
}



p{ 
    color: black;
    padding: 4px;
    font-weight: 300;
}
h{
    color: black;
    margin-top: 4px;
    padding: 4px;
}
h3{
    color: black;
   font-weight: bold;
}

section{
   
    height: 600px;
    background-color: lightgray;
}

.inner-footer-div{

justify-content: flex-end;
align-items: center;

}


.checked{
color: yellow;
}


