#main-p-div{
    width: 100%;
    height: 100%;
   background-color: #e0e0e0;
   /* margin: -8px 0px -16px -7px; */

}
#hotel-rad-pay-detail{
    width: 75%;
    height: 200px;
    display: flex;
    background-color:  rgb(132,136,139);
    background-position: center;
    /* margin: 0 auto; */
    /* margin-top: 2%;
    margin-bottom: 2%; */
    align-self: center;
    

}

#hotel-rad-pay-detail p{
 padding-top:  10px ;
 padding-right: 10px;
 
}
#hotel-rad-pay-detail h3{
    /* width: 500px; */
    /* height: 300px; */
    /* display: flex; */
    padding-top:  10px;
    padding-right: 10px;
    padding-bottom: 10px ;
}


#radisson-image-p{
    margin-top: -28px;
    /* height: 500px;
    width: 500px; */
    max-width: 300px;
    max-height: 270px;
}
#cust-name p{
    font-weight: bold;
    /* margin: 2%; */
    margin-left: 20px;
    /* margin: 5px; */
    padding: 5px;

}

#cust-name span{
    font-weight: normal;

}
#tariff-div {
    margin: 25px;
    /* border: 1px solid black; */
    border-radius: 2px;
   font-weight: bold;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 2%;
    padding-bottom: 1%;
    
}

#tariff-div p{
    padding: 5px;
}


#tariff-div span{
    font-weight: normal;
}
section div{
   padding-top: 15px;
   padding-right: 15px;
   padding-bottom: 15px;
}
    
a{
    
color: black;
font-weight: bold;
}


#payment-sec{
    width: 100vw;
    display: flex;
}
#payment-section-div{
    /* display: flex; */
    width: 100vw;
    height: 700px;
}

#dix-1{
    width: 900px;
    height: 198px;
    display: flex;
    background-color:  rgb(132,136,139)
}

#cust-det-sec{
    width: 900px;
    display: flex;
    border-radius: 2px;
    border: 1px solid black;
    border-radius: 2px;
   font-weight: bold;
   background-color: rosybrown;
   margin-left: 12%;
   margin-bottom: 15%;
}
#pay-now{align-self: center;

}
